//- Extend
extends template-part/layout.pug

//- Mixins
mixin box-item(src, title, currentPrice, tag, oldPrice)
  .box-item.col-md-4.col-6
    .box-image 
      .box-tag=tag
      a(href="product-detail.html") 
        img(src=src)
    .box-title=title  
    .box-price.d-flex.justify-content-center
      .current-price=currentPrice
      .old-price=oldPrice

//- Pug
block title
  title LH Clothing
block main 
  #carouselExampleControls.carousel.slide(data-ride='carousel').container.banner
      .carousel-inner
            a(href="product-list.html").carousel-item.active
              img.d-block.w-100(src='image/banner-listing-jean-kid.jpg' alt='...')
            a(href="product-list.html").carousel-item
              img.d-block.w-100(src='image/quan-jeans-new-listing.jpg' alt='...')
            a(href="product-list.html").carousel-item
              img.d-block.w-100(src='image/chuc-mung-nam-moi-tan-suu-home.jpg' alt='...')
            a(href="product-list.html").carousel-item
              img.d-block.w-100(src='image/ao-khoac-gio-tre-em-banner-listing.jpg' alt='...')
      a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
      a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            
  .new-products.container 
    .head-nav.d-flex.justify-content-between.align-items-center
      .head-title sản phẩm mới 
      ul.head-menu-list.d-flex.justify-content-between
        li 
          a(href="product-list.html") nam
        li 
          a(href="product-list.html") nữ
        li 
          a(href="product-list.html") bé gái
        li 
          a(href="product-list.html") bé trai
      a(href="product-list.html").read-more tất cả         
    .products-grid.d-flex.flex-wrap 
      +box-item('image/betrai.jpg', "Áo nỉ bé trai", "250.000đ", "NEW")
      +box-item('image/nibegaito.jpg', "Áo nỉ bé gái", "250.000đ", "NEW")
      +box-item('image/nu.jpg', "Áo khoác lông vũ nữ", "550.000đ", "NEW")
      +box-item('image/nam.jpg', "Áo nỉ nam", "300.000d", "NEW")
      +box-item('image/ao ni nam co mu.jpg', "Áo nỉ có mũ", "250.000đ", "NEW")
      +box-item('image/AO NI NU TRON.jpg', "Áo nỉ nữ cổ tròn", "250.000đ", "NEW")

  .sale-products.container 
    .head-nav.d-flex.justify-content-between.align-items-center.nav-sale
      .head-title HÀNG KHUYẾN MẠI
      ul.head-menu-list.d-flex.justify-content-between
        li 
          a(href="product-list.html") nam
        li 
          a(href="product-list.html") nữ
        li 
          a(href="product-list.html") bé gái
        li 
          a(href="product-list.html") bé trai
      a(href="product-list.html").read-more tất cả         
    .products-grid.d-flex.flex-wrap 
      +box-item('image/ao khoac gio nam.jpg', "Áo khoác gió nam", "250.000đ", "-50%", "500.000đ")
      +box-item('image/2ls20w001-sa235-1-thumb.jpg', "Bộ mặc nhà bé trai", "200.000đ", "-50%", "400.000đ")
      +box-item('image/aokhoacninam.jpg', "Áo khoác nỉ nam", "150.000đ", "-50%","300.000đ"  )
      +box-item('image/8te20w003-so079-2-thumb.jpg', "Áo len nam cổ tròn", "250.000đ", "-50%", "500.000đ")
      +box-item('image/1tl20w009-sm235-1-thumb_1.jpg', "Áo phông bé gái", "200.000đ", "-50%", "400.000đ")
      +box-item('image/6it20w001-sm127-2-thumb.jpg', "Áo giữ nhiệt nữ", "250.000đ", "-50%", "500.000đ")
  
  .service.container
    div.d-flex.flex-wrap
      .service-col.col-md-4 
        .service-title QUY ĐỊNH ĐỔI TRẢ
        p.service-content Hỗ trợ đổi trả sản phẩm trong vòng 15 ngày trên toàn hệ thống bán hàng
        
      .service-col.col-md-4 
        .service-title KHÁCH HÀNG THÂN  THIẾT
        p.service-content Khi mua đơn hàng có giá trị 5.000.000Đ, quý khách sẽ được cấp ngay thẻ VIP có ưu đãi 10% và 20%
        
      .service-col.col-md-4 
        .service-title TUYỂN DỤNG
        p.service-content LH Clothing đang cần tuyển hơn 40 vị trí nhân viên bán hàng tại Vũ Hán
  
  .sub-email.justify-content-center.d-flex.align-items-center
        .sub-title Đăng ký nhận tin 
        form(action="")
            input(type="email", name="", placeholder="Email")
            button(type="submit").btn-2 Đăng ký


