//- Extends
extends template-part/layout.pug

//- Mixxins
mixin list-col-item(title, target, id, linksp, show)
    .list-col-item.d-block
        a(href="#" data-toggle="collapse" class="collapsed" data-target=target).font-weight-bold(class=show)=title
            span.arrow-icon.ml-2
                 i.fas.fa-angle-down
            ul(id=id class=show).collapse
                li.new-arrival.font-weight-bold 
                    a(href=linksp) SẢN PHẨM MỚI
                li.shirts(data-toggle="collapse" class="collapsed" data-target="#shirt-item").font-weight-bold 
                    a(href="#") ÁO
                    span.arrow-icon.ml-2
                        i.fas.fa-angle-down
                    ul#shirt-item.collapse.font-weight-normal(class=show)
                        li
                            a(href=linksp) Áo phông
                        li 
                            a(href=linksp) Áo nỉ
                        li
                            a(href=linksp) Áo len
                        li
                            a(href=linksp) Áo sơ mi
                        li
                            a(href=linksp) Áo khoác
                li.pants(data-toggle="collapse" class="collapsed" data-target="#pant-item").font-weight-bold 
                    a(href="#") QUẦN
                        span.arrow-icon.ml-2
                            i.fas.fa-angle-down
                    ul#pant-item.collapse.font-weight-normal  
                        li
                            a(href=linksp) Quần jeans
                        li
                            a(href=linksp) Quần vải
                        li
                            a(href=linksp) Quần kaki 
                        li
                            a(href=linksp) Quần short
                li.accessories.font-weight-bold 
                    a(href="#") PHỤ KIỆN KHÁC

mixin box-item(src, title, currentPrice, oldPrice)
  .box-item.col-md-3.col-6
    .box-image 
      a(href="product-detail.html") 
        img(src=src)
    .box-title.text-center=title  
    .box-price.d-flex.justify-content-center
      .current-price.font-weight-bold=currentPrice
//- Pug
block title
  title LH Clothing
block link
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    link(rel="stylesheet", href="style/style.css")
block main
    nav(aria-label='breadcrumb').container.sub-nav
        ol.breadcrumb
            li.breadcrumb-item
                a(href='index.html') Trang chủ
            li.breadcrumb-item
                a(href='index.html') Bé gái
            li.breadcrumb-item.active(aria-current='page') Áo
    
    .directory.container
        .directory-view.d-flex
            .list-col.d-sm-none.d-md-block
                +list-col-item("NAM", "#nam-products", "nam-products", "product-list.html")
                +list-col-item("NỮ", "#nu-products", "nu-products", "product-list.html")
                +list-col-item("BÉ GÁI", "#begai-products", "begai-products", "product-list.html")
                +list-col-item("BÉ TRAI", "#betrai-products", "betrai-products", "product-list.html")

            .products-view 
                .directory-head.d-flex.justify-content-between
                    .directory-title.font-weight-bold Áo Nỉ
                    .directory-sort
                        select(name="sort-item") 
                            option(value="Sắp xếp") Sắp xếp
                            option(value="Giá: Cao đến thấp" data-sort="number")#sort-reverse Giá: Cao đến thấp
                            option(value="Giá: Thấp đến cao" data-sort="number")#sort Giá: Thấp đến cao
                .products-grid.d-flex.flex-wrap
                    +box-item('image/betrai.jpg', "Áo nỉ bé trai", "250.000đ")
                    +box-item('image/nibegaito.jpg', "Áo nỉ bé gái", "250.000đ")
                    +box-item('image/nu.jpg', "Áo khoác lông vũ nữ", "550.000đ")
                    +box-item('image/nam.jpg', "Áo nỉ nam", "300.000d")
                    +box-item('image/ao ni nam co mu.jpg', "Áo nỉ có mũ", "250.000đ")
                    +box-item('image/AO NI NU TRON.jpg', "Áo nỉ nữ cổ tròn", "250.000đ")
                    +box-item('image/ao khoac gio nam.jpg', "Áo khoác gió nam", "250.000đ")
                    +box-item('image/2ls20w001-sa235-1-thumb.jpg', "Bộ mặc nhà bé trai", "200.000đ")
                    +box-item('image/aokhoacninam.jpg', "Áo khoác nỉ nam", "150.000đ"  )
                    +box-item('image/8te20w003-so079-2-thumb.jpg', "Áo len nam cổ tròn", "250.000đ")
                    +box-item('image/1tl20w009-sm235-1-thumb_1.jpg', "Áo phông bé gái", "200.000đ")
                    +box-item('image/6it20w001-sm127-2-thumb.jpg', "Áo giữ nhiệt nữ", "250.000đ")
                .pages-switch
                    nav.justify-content-center.d-flex
                        ul.pagination
                            li.page-item
                                a.page-link(href='#')
                                    span(aria-hidden='true') &laquo;
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#')
                                    span(aria-hidden='true') &raquo;
                            li.page-item
                                a.page-link(href='#') Trang cuối

                
block scripts
    script(type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript' src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns' crossorigin='anonymous')
    //- script(src="lib/isotope.pkgd.min.js")
    script(src="js/main.js")