//- Extends
extends template-part/layout.pug

//- Mixins
mixin same-item(src, title, currentPrice, tag, oldPrice)
  .same-item
    .same-image 
      .box-tag=tag
      a(href="product-detail.html") 
        img(src=src)
    .box-title.text-center=title  
    .box-price.d-flex.justify-content-center
      .current-price=currentPrice
      .old-price=oldPric

//- Pug
block title
  title LH Clothing
block link
    link(rel='stylesheet' type='text/css' href='lib/slick.css')
    link(rel='stylesheet' type='text/css' href='lib/slick-theme.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    link(rel="stylesheet", href="style/style.css")
block main
    nav(aria-label='breadcrumb').container.sub-nav
        ol.breadcrumb
            li.breadcrumb-item
                a(href='index.html') Trang chủ
            li.breadcrumb-item
                a(href='#') Bé gái
            li.breadcrumb-item
                a(href='#') Áo
            li.breadcrumb-item.active(aria-current='page') Áo nỉ bé gái cổ tròn
    
    .product.container
        .product-main.d-flex
            .product-box-image.d-flex
                .gallery-col.slider.slider-nav
                    div
                        img(src="image/nibegaito.jpg", alt="", srcset="")
                    div 
                        img(src="image/2.jpg", alt="", srcset="")
                    div 
                        img(src="image/nibegai.jpg", alt="", srcset="")
                    div
                        img(src="image/3.jpg", alt="", srcset="")
                    div 
                        img(src="image/5.jpg", alt="", srcset="")
                .image-main.slider.slider-for
                    div
                        img(src="image/nibegaito.jpg", alt="", srcset="")
                    div 
                        img(src="image/2.jpg", alt="", srcset="")
                    div 
                        img(src="image/nibegaito.jpg", alt="", srcset="")
                    div 
                        img(src="image/3.jpg", alt="", srcset="")
                    div 
                        img(src="image/5.jpg", alt="", srcset="")
            form.product-info.d-flex.flex-column 
                .product-title
                    h1 ÁO NỈ CỔ TRÒN BÉ GÁI
                .product-price 170.000đ
                .product-color 
                    .color-label CHỌN MÀU:
                    .colors-set.d-flex 
                        a(href="#")
                            .color-box.pink.box
                        a(href="#") 
                            .color-box.green.box
                        a(href="#")
                            .color-box.yellow.box
                .product-size 
                    .size-label CHỌN KÍCH CỠ:
                    .size-set.d-flex 
                        a(href="#")
                            .size-box.box S
                        a(href="#")
                            .size-box.box M
                        a(href="#")
                            .size-box.box L
                .product-quantity
                    label(for="quantity") Số lượng:
                    input#quantity(type="number", name="quantity", value="1")

                .submit-button.d-flex
                    //- a(href="shop-cart.html") 
                    button(type="button", onclick="location.href='shop-cart.html'").add-cart THÊM VÀO GIỎ
                    button(type="button").payment THANH TOÁN NGAY
                .product-description
                    .descrip
                        h6 MÔ TẢ
                        p Áo nỉ dáng regular trơn màu Cổ tròn, dài tay
                    .material 
                        h6 CHẤT LIỆU
                        p 60% cotton 40% polyester
                    .guide 
                        h6 HƯỚNG DẪN SỬ DỤNG
                        p Giặt máy ở chế độ nhẹ, nhiệt độ thường.
                        p Không sử dụng hóa chất tẩy có chứa Clo.
                        p Phơi trong bóng mát.
                        p Sấy khô ở nhiệt độ thấp.
    .same-products.container 
        .same-products-title SẢN PHẨM TƯƠNG TỰ
        .same-products-slide.responsive
            +same-item("image/6.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/7.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/8.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/9.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/10.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/1.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/2.jpg", "Áo nỉ bé gái", "200.000đ")



    //- scripts
script(type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js')
script(type='text/javascript' src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
script(type='text/javascript' src='node_modules/slick-carousel/slick/slick.js')
script(src="js/mySlick.js") 