//- Extends
extends template-part/layout.pug

//- Mixins
mixin same-item(src, title, currentPrice, tag, oldPrice)
  .same-item
    .same-image 
      .box-tag=tag
      a(href="product-detail.html") 
        img(src=src)
    .box-title.text-center=title  
    .box-price.d-flex.justify-content-center
      .current-price=currentPrice
      .old-price=oldPrice

//- Pug
block title
  title LH Clothing
block link
    link(rel='stylesheet' type='text/css' href='lib/slick.css')
    link(rel='stylesheet' type='text/css' href='lib/slick-theme.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    link(rel="stylesheet", href="style/style.css")
block main
    nav(aria-label='breadcrumb').container.sub-nav
        ol.breadcrumb
            li.breadcrumb-item
                a(href='index.html') Trang chủ
            li.breadcrumb-item.active(aria-current='page') Giỏ Hàng

    .cart-view.container
        .shopcart-title THÔNG TIN GIỎ HÀNG
        form.cart
            table.cart-table 
                thead
                    tr.cart-header 
                        th.cart-product-name Sản phẩm
                        th.cart-product-color Màu 
                        th.cart-product-size Size
                        th.cart-product-quantity Số lượng
                        th.cart-product-price Giá
                        th.cart-product-sumary.text-right Thành tiền
                        //- th.cart-product-delete Xóa
                tbody 
                    tr.cart-item 
                        td.cart-product-name
                            img(src="image/nibegai.jpg", alt="", srcset="")
                            div
                                p.product-name Áo nỉ bé gái cổ tròn
                                p.product-code Mã: 19000123-00
                        td.cart-product-color 
                            .color-box.pink.box
                            .color-code Pink-007
                        td.cart-product-size
                            .size-box.font-weight-bold M
                        td.cart-product-quantity
                            #quantity-counter.quantity-button.d-flex 
                                    button(type="button").de-in-button.minus-button
                                        i.fa.fa-minus
                                    input#quantity-input(type="number", name="quantity", value="1")
                                    button(type="button").de-in-button.plus-button
                                        i.fa.fa-plus
                        td.cart-product-price
                            .product-price 170.000đ
                        td.cart-product-sumary.text-right 
                            .sumary-of-quantity 170.000đ
                            a(href="#").delete-item  Xóa
                        //- td.cart-product-delete 
                        //-     a.delete-item(href="#")
                        //-         img(src="image/icon/delete.svg", alt="", srcset="")
                    
                    tr.cart-item 
                        td.cart-product-name
                            img(src="image/3.jpg", alt="", srcset="")
                            div
                                p.product-name Áo nỉ bé gái cổ tròn
                                p.product-code Mã: 19000321-03
                        td.cart-product-color 
                            .color-box.pink.box
                            .color-code Pink-201
                        td.cart-product-size
                            .size-box.font-weight-bold S
                        td.cart-product-quantity
                            #quantity-counter.quantity-button.d-flex 
                                    button(type="button").de-in-button.minus-button
                                        i.fa.fa-minus
                                    input#quantity-input(type="number", name="quantity", value="1")
                                    button(type="button").de-in-button.plus-button
                                        i.fa.fa-plus
                        td.cart-product-price
                            .product-price 170.000đ
                        td.cart-product-sumary.text-right
                            .sumary-of-quantity 170.000đ
                            a(href="#").delete-item  Xóa
                        //- td.cart-product-delete 
                        //-     a.delete-item(href="#")
                        //-         img(src="image/icon/delete.svg", alt="", srcset="")
            table.table-sum.col-4
                tbody
                    tr.total-products 
                        td Tổng số lượng
                        td 2 Sản phẩm
                    tr.sumary-estimate
                        td Số tiền tạm tính
                        td 340.000đ

            .submit-button.d-flex.justify-content-end.col-4.ml-auto.pr-0
                button(type="button", onclick="location.href='index.html'").add-cart.btn-2.col-6 Tiếp tục mua sắm
                button(type="button", onclick="location.href='order.html'").payment.btn-1.col-6 Đặt hàng
    .same-products.container 
        .same-products-title SẢN PHẨM TƯƠNG TỰ
        .same-products-slide.responsive
            +same-item("image/6.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/7.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/8.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/9.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/10.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/1.jpg", "Áo nỉ bé gái", "200.000đ")
            +same-item("image/2.jpg", "Áo nỉ bé gái", "200.000đ")

block scripts
    script(type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript' src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns' crossorigin='anonymous')
    script(type='text/javascript' src='lib/slick.js')
    script(src="js/mySlick.js") 
    script(src="js/main.js")